DISCORD_TOKEN=token-bot-dari-developer-portal
MC_API_URL=http://127.0.0.1:8787
MC_API_TOKEN=token-yang-sama-dengan-api.token-di-config.json

DISCORD_PREFIX=!

DISCORD_ALLOWED_USERS=
DISCORD_ALLOWED_ROLES=
DISCORD_ALLOWED_CHANNELS=
DISCORD_ALLOWED_GUILDS=
DISCORD_REQUIRE_CONFIRM=true

MC_API_TIMEOUT_MS=20000
DISCORD_MAX_LENGTH=1800
DISCORD_COLOR=0x2ecc71
DISCORD_COLOR_ERROR=0xe74c3c